en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
spacy==2.3.5
nltk
flask
flask_bootstrap
flask_wtf
flask_sqlalchemy
docx
scikit-learn==1.0.1
pyresparser
flask_login
validators
requests
flask_restful
psycopg2-binary